.

<mat-tab-group>
  <mat-tab label="Person Details">
    <div class="form-container">
      <mat-form-field>
        <input matInput placeholder="First Name" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Last Name" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Other ID" />
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Marital Status">
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Date Of Birth" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <label class="example-margin">Gender</label>
      <mat-radio-group>
        <mat-radio-button class="example-margin" value="after">Male</mat-radio-button>
        <mat-radio-button class="example-margin" value="before">Female</mat-radio-button>
      </mat-radio-group>
      <mat-form-field>
        <input matInput placeholder="Nick Name" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Hobbies" />
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Blood Group">
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-card class="mb-20">
        <button mat-raised-button color="primary">Next</button>
      </mat-card>
    </div>
  </mat-tab>

  <mat-tab label="Job">
    <div class="form-container">
      <mat-form-field>
        <input matInput [matDatepicker]="picker1" placeholder="Joined Date" />
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker2" placeholder="Probation End Date" />
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker3" placeholder="Date OF Permanancy" />
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Job Title">
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Employeement Status">
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Job Category">
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Sub Unit">
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Work Shift">
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker4" placeholder="Contract Start Date" />
        <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
        <mat-datepicker #picker4></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker5" placeholder="Contract End Date" />
        <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
        <mat-datepicker #picker5></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Cost Centre" />
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Comment"></textarea>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker6" placeholder="Effective From" />
        <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
        <mat-datepicker #picker6></mat-datepicker>
      </mat-form-field>
      <mat-card class="mb-20">
        <button mat-raised-button color="primary">Prev</button>
        <button mat-raised-button color="primary">Next</button>
      </mat-card>
    </div>
  </mat-tab>

  <mat-tab label="Personal Details - Importants">

    <div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
      <div [fxFlex]="33">
        <mat-form-field>
          <mat-select placeholder="Region">
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div [fxFlex]="33">
        <mat-form-field>
          <mat-select placeholder="FTE">
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div [fxFlex]="33">
        <mat-form-field>
          <mat-select placeholder="Temporary Department">
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-card class="mb-20">
        <button mat-raised-button color="primary">Prev</button>
        <button mat-raised-button color="primary">Next</button>
      </mat-card>
    </div>
  </mat-tab>

  <mat-tab label="Salary">
    <div class="form-container">
      <mat-form-field>
        <input matInput [matDatepicker]="picker7" placeholder="Effective Date" />
        <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
        <mat-datepicker #picker7></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Pay Grade">
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Currency">
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Anual Basic Payment(Amount)" />
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Comments"></textarea>
      </mat-form-field>
      <mat-card class="mb-20">
        <button mat-raised-button color="primary">Prev</button>
        <button mat-raised-button color="primary">Next</button>
      </mat-card>
    </div>
  </mat-tab>

  <mat-tab label="Contact Details">
    <div class="form-container">
      <mat-form-field>
        <input matInput placeholder="Adress Street 1" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Adress Sterrt 2" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Adress Street 3" />
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Country">
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Zip/Postal Code" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Home Telephone" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Mobile" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Work Telephone" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="State/Province" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Work Email" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Other Email" />
      </mat-form-field>
      <mat-card class="mb-20">
        <button mat-raised-button color="primary">Prev</button>
        <button mat-raised-button color="primary">Next</button>
      </mat-card>
    </div>
  </mat-tab>

  <mat-tab label="Social Media Details">
    <div class="form-container">
      <mat-form-field>
        <mat-select placeholder="Type">
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Link" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Handle" />
      </mat-form-field>
      <mat-card class="mb-20">
        <button mat-raised-button color="primary">Prev</button>
        <button mat-raised-button color="primary">Next</button>
      </mat-card>
    </div>
  </mat-tab>

  <mat-tab label="Emergency Contacts">
    <div class="form-container">
      <mat-form-field>
        <input matInput placeholder="Name" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Relationship" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Home Telephone" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Mobile" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Work Telephone" />
      </mat-form-field>
      <mat-card class="mb-20">
        <button mat-raised-button color="primary">Prev</button>
        <button mat-raised-button color="primary">Next</button>
      </mat-card>
    </div>
  </mat-tab>

  <mat-tab label="Dependents">
    <div class="form-container">
      <mat-form-field>
        <input matInput placeholder="Name" />
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Type">
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker8" placeholder="Date Of Birth" />
        <mat-datepicker-toggle matSuffix [for]="picker8"></mat-datepicker-toggle>
        <mat-datepicker #picker8></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Marriage Certificate No:" />
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker9" placeholder="Date Of Registration" />
        <mat-datepicker-toggle matSuffix [for]="picker9"></mat-datepicker-toggle>
        <mat-datepicker #picker9></mat-datepicker>
      </mat-form-field>
      <mat-card class="mb-20">
        <button mat-raised-button color="primary">Prev</button>
        <button mat-raised-button color="primary">Next</button>
      </mat-card>
    </div>
  </mat-tab>

  <mat-tab label="Immigration">
    <div class="form-container">
      <mat-form-field>
        <mat-select placeholder="Document">
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Number" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Eligible Status" />
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker10" placeholder="Issued Date" />
        <mat-datepicker-toggle matSuffix [for]="picker10"></mat-datepicker-toggle>
        <mat-datepicker #picker10></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker11" placeholder="Expire Date" />
        <mat-datepicker-toggle matSuffix [for]="picker11"></mat-datepicker-toggle>
        <mat-datepicker #picker11></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker12" placeholder="Eligible Review Date" />
        <mat-datepicker-toggle matSuffix [for]="picker12"></mat-datepicker-toggle>
        <mat-datepicker #picker12></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Comments"></textarea>
      </mat-form-field>
      <mat-card class="mb-20">
        <button mat-raised-button color="primary">Prev</button>
        <button mat-raised-button color="primary">Next</button>
      </mat-card>
    </div>
  </mat-tab>

  <mat-tab label="Supervisors">
    <div class="form-container">
      <mat-form-field>
        <input matInput placeholder="Name" />
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Reporting Method">
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-card class="mb-20">
        <button mat-raised-button color="primary">Prev</button>
        <button mat-raised-button color="primary">Next</button>
      </mat-card>
    </div>
  </mat-tab>

  <mat-tab label="Work Experience">
    <div class="form-container">
      <mat-form-field>
        <input matInput placeholder="Company" />
      </mat-form-field>
      <mat-card-content>
        <mat-checkbox class="example-margin">Creditable</mat-checkbox>
      </mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Job Title" />
      </mat-form-field>
      <mat-card class="mb-20">
        <button mat-raised-button color="primary">Prev</button>
        <button mat-raised-button color="primary">Next</button>
      </mat-card>
    </div>
  </mat-tab>

  <mat-tab label="Education">
    <div class="form-container">
      <mat-form-field>
        <mat-select placeholder="Type">
          <mat-option value="option">Level</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Institute" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Major/Specialization" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Year" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="GPA/Score" />
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker13" placeholder="Start Date" />
        <mat-datepicker-toggle matSuffix [for]="picker13"></mat-datepicker-toggle>
        <mat-datepicker #picker13></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker14" placeholder="End Date" />
        <mat-datepicker-toggle matSuffix [for]="picker14"></mat-datepicker-toggle>
        <mat-datepicker #picker14></mat-datepicker>
      </mat-form-field>
      <mat-card class="mb-20">
        <button mat-raised-button color="primary">Prev</button>
        <button mat-raised-button color="primary">Next</button>
      </mat-card>
    </div>
  </mat-tab>

  <mat-tab label="Skills">
    <div class="form-container">
      <mat-form-field>
        <mat-select placeholder="Skills">
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Year Of experience" />
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Comments"></textarea>
      </mat-form-field>
      <mat-card class="mb-20">
        <button mat-raised-button color="primary">Prev</button>
        <button mat-raised-button color="primary">Next</button>
      </mat-card>
    </div>
  </mat-tab>

  <mat-tab label="Language">
    <div class="form-container">
      <mat-form-field>
        <mat-select placeholder="Language">
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Skill">
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Fluency Level">
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Comments"></textarea>
      </mat-form-field>
      <mat-card class="mb-20">
        <button mat-raised-button color="primary">Prev</button>
        <button mat-raised-button color="primary">Next</button>
      </mat-card>
    </div>
  </mat-tab>

  <mat-tab label="License">
    <div class="form-container">
      <mat-form-field>
        <mat-select placeholder="License Typet">
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="License Number" />
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker15" placeholder="Issued Date" />
        <mat-datepicker-toggle matSuffix [for]="picker15"></mat-datepicker-toggle>
        <mat-datepicker #picker15></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker16" placeholder="Expire Date" />
        <mat-datepicker-toggle matSuffix [for]="picker16"></mat-datepicker-toggle>
        <mat-datepicker #picker16></mat-datepicker>
      </mat-form-field>
      <mat-card class="mb-20">
        <button mat-raised-button color="primary">Save</button>
      </mat-card>
    </div>
  </mat-tab>

</mat-tab-group>
